<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/index.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" /></head>
  
  <body class="open-lottery">
    <div class="zindex-1 visible-lg visible-md"></div>
    <!--头部-->
    <div class="navbar navbar-inverse  navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header-row">
          <a href="javascript:;" class="a-menu pull-right visible-sm visible-xs" data-toggle="collapse" data-target=".navlist">菜单</a>
          <a class="logo">创新游戏</a>
          <div class="btn-sideMenu pull-left">
            <i class="icon-reorder"></i>
          </div>
        </div>
        <div class="pull-left   hidden-sm hidden-xs">
          <div class="nav-funbtn pull-left">
            <a href="StateMessage.html" class="a-msn hidden-sm hidden-xs">短消息</a>
            <a href="Notice.html" class="a-notice  hidden-sm hidden-xs">公告</a>
            <a href="javascript:;" class="a-menu J-a-menu">菜单</a></div>
        </div>
        <div class="pull-right nav-right hidden-sm hidden-xs">
          <div class="div-table">
            <div class="col">
              <img src="images/avator.png" /></div>
            <div class="col">
              <h6>RAINBOW 欢迎您！</h6>
              <p>余额：
                <b>52133.64</b>冻结：
                <b>52133.64</b>
              </p>
            </div>
            <div class="col">
              <a href="BeginPay.html" class="btn btn-info">充值</a>
              <a href="Withdraw.html" class="btn btn-success">提现</a>
              <a href="Login.html" class="btn btn-danger">退出</a></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="navlist" role="navigation">
      <div class="div-table">
        <div class="col col1">
          <h3>
            <span>会员中心</span></h3>
          <div class="a-row">
            <a href="修改密码.html">修改密码</a>
            <a href="SafeCenter.html">安全中心</a>
            <a href="MyBetRecord.html">我的投注</a>
            <a href="AccountChangeDetails.html">账变明细</a>
            <a href="BankOrder.html">银行订单</a>
            <a href="MenberCenter.html">用户中心</a>
            <a href="BankInfo.html">银行资料</a>
            <a href="MyApendBetRecord.html">我的追号</a>
            <a href="PayRecord.html">充提记录</a>
            <a href="PepoleReport.html">个人报表</a></div>
        </div>
        <div class="col col2">
          <h3>
            <span>代理中心</span></h3>
          <div class="a-row">
            <a href="MemberManage.html">会员管理</a>
            <a href="AutoRegisterAddress.html">微信推广</a>
            <a href="WagesManage.html">工资管理</a>
            <a href="TeamReport.html">团队报表</a>
            <a href="TeamPay.html">团队充提</a>
            <a href="TeamBet.html">团队投注</a>
            <a href="TeamCalc.html">团队统计</a>
            <a href="AGReport.html">AG报表</a>
            <a href="JJInfo.html">奖金详情</a></div>
        </div>
        <div class="col col3">
          <h3>
            <span>服务中心</span></h3>
          <div class="a-row">
            <a href="StateMessage.html">站内消息</a>
            <a href="Notice.html">通知公告</a></div>
        </div>
        <div class="col col4">
          <h3>
            <span>资金中心</span></h3>
          <div class="a-row">
            <a href="BeginPay.html">我要充值</a>
            <a href="Withdraw.html">我要提现</a></div>
        </div>
      </div>
    </div>
    <div class="nav-nav">
      <ul class="list-unstyled">
        <li class="home">
          <a href="index.html">
            <i class="icon-home"></i>首页</a>
        </li>
        <li class="m">
          <a href="game.html">重庆时时彩
            <img src="images/hot.png" /></a></li>
        <li class="m">
          <a href="game.html">腾讯分分彩
            <img src="images/hot.png" /></a></li>
        <li class="m">
          <a href="game.html">韩国1.5彩
            <img src="images/hot.png" /></a></li>
        <li class="m">
          <a href="game.html">台湾5分彩
            <img src="images/hot.png" /></a></li>
        <li class="m">
          <a href="game.html">北京5分彩
            <img src="images/hot.png" /></a></li>
        <li class="m">
          <a href="game.html">美东2分彩</a></li>
        <li class="m">
          <a href="game.html">河内5分彩</a></li>
        <li class="m">
          <a href="game.html">加拿大3.5</a></li>
        <li class="m">
          <a href="game.html">新疆时时彩</a></li>
        <li class="m">
          <a href="game.html">天津时时彩</a></li>
        <li class="m">
          <a href="game.html">山东11选5</a></li>
        <li class="m">
          <a href="game.html">广东11选5</a></li>
        <li class="m">
          <a href="game.html">江西11选5</a></li>
        <li class="m">
          <a href="game.html">黑龙江11选5</a></li>
        <li class="m">
          <a href="game.html">北京PK10</a></li>
        <li class="m">
          <a href="game.html">江苏快三</a></li>
        <li class="m">
          <a href="game.html">排列三</a></li>
        <li class="m">
          <a href="game.html">排列五</a></li>
        <li class="m">
          <a href="game.html">香港六合彩</a></li>
      </ul>
    </div>
    <div class="iframeBox">
      <div class="visible-sm visible-xs container-fluid">
        <div class="row btn-row">
          <div class="col-sm-6 text-center">
            <p>余额：
              <b>52133.64</b>冻结：
              <b>52133.64</b>
            </p>
          </div>
          <div class="col-sm-6 text-center">
            <a href="BeginPay.html" class="btn btn-info">充值</a>
            <a href="Withdraw.html" class="btn btn-info">充值</a>
            <a href="Login.html" class="btn btn-danger">退出</a></div>
        </div>
      </div>
      <div class="iframe-mainBox">
        <style type="text/css">@media (max-width:999px){ .main-hd{ height: auto;padding: 5px; } .main-hd h3{ display: none; } .main-hd .pull-right{ position: relative; top: 0;float: none!important; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); } .main-hd .pull-right a{ margin: 5px; } }</style>
        <div class="main-hd">
          <div class="pull-right">
            <a href="#tab-con1" class="btn active">时时彩</a>
            <a href="#tab-con2" class="btn">11选5</a>
            <a href="#tab-con3" class="btn">江苏快3</a>
            <a href="#tab-con4" class="btn">北京快乐8</a>
            <a href="#tab-con5" class="btn">北京PK10</a>
            <a href="#tab-con6" class="btn">福彩3D/排列3</a>
            <a href="#tab-con7" class="btn">PC蛋蛋</a></div>
          <h3>奖金详情</h3></div>
        <div class="main-bd bonus-Details">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>彩种</th>
                  <th>玩法组</th>
                  <th>类别</th>
                  <th>奖金</th></tr>
              </thead>
              <!-- ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">五星直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">195,600.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="5" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="5" class="ng-binding ng-scope">五星组合</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">一等奖:五星</td>
                  <td class="ng-binding">195,600.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">二等奖:四星</td>
                  <td class="ng-binding">19,560.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">三等奖:三星</td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">四等奖:二星</td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">五等奖:一星</td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="6" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="6" class="ng-binding ng-scope">五星组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">组选120</td>
                  <td class="ng-binding">1,630.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选60</td>
                  <td class="ng-binding">3,260.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选30</td>
                  <td class="ng-binding">6,520.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选20</td>
                  <td class="ng-binding">9,780.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选10</td>
                  <td class="ng-binding">19,560.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选5</td>
                  <td class="ng-binding">39,120.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="19" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="19" class="ng-binding ng-scope">五星特殊</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">四季发财</td>
                  <td class="ng-binding">4,252.17</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">三星报喜</td>
                  <td class="ng-binding">228.50</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">好事成双</td>
                  <td class="ng-binding">24.01</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">一帆风顺</td>
                  <td class="ng-binding">4.78</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">龙</td>
                  <td class="ng-binding">4.35</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">虎</td>
                  <td class="ng-binding">4.35</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">和</td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">总和大、小、单、双</td>
                  <td class="ng-binding">3.91</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">没牛</td>
                  <td class="ng-binding">5.46</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">牛牛、牛一、牛二、牛三、牛四、牛五、牛六、牛七、牛八、牛九</td>
                  <td class="ng-binding">30.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">牛单、牛双、牛大、牛小</td>
                  <td class="ng-binding">6.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">五条</td>
                  <td class="ng-binding">195.62</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">四条</td>
                  <td class="ng-binding">173.89</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">三条</td>
                  <td class="ng-binding">27.17</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">两对</td>
                  <td class="ng-binding">17.93</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">一对</td>
                  <td class="ng-binding">3.80</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">葫芦</td>
                  <td class="ng-binding">151.88</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">顺子</td>
                  <td class="ng-binding">130.42</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">散号</td>
                  <td class="ng-binding">6.25</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">四星直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">19,560.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="4" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="4" class="ng-binding ng-scope">四星组合</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">一等奖:四星</td>
                  <td class="ng-binding">19,560.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">二等奖:三星</td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">三等奖:二星</td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">四等奖:一星</td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="4" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="4" class="ng-binding ng-scope">四星组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">组选24</td>
                  <td class="ng-binding">815.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选12</td>
                  <td class="ng-binding">1,630.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选6</td>
                  <td class="ng-binding">3,260.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选4</td>
                  <td class="ng-binding">4,890.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">后三直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="3" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="3" class="ng-binding ng-scope">后三组合</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">一等奖:三星</td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">二等奖:二星</td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">三等奖:一星</td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="2" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="2" class="ng-binding ng-scope">后三组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">组三</td>
                  <td class="ng-binding">652.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组六</td>
                  <td class="ng-binding">326.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">后三和值尾数</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="5" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="5" class="ng-binding ng-scope">后三特殊</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">豹子</td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">顺子</td>
                  <td class="ng-binding">32.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">对子</td>
                  <td class="ng-binding">7.17</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">半顺</td>
                  <td class="ng-binding">5.41</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">杂六</td>
                  <td class="ng-binding">3.78</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">前三直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="3" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="3" class="ng-binding ng-scope">前三组合</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">一等奖:三星</td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">二等奖:二星</td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">三等奖:一星</td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="2" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="2" class="ng-binding ng-scope">前三组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">组三</td>
                  <td class="ng-binding">652.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组六</td>
                  <td class="ng-binding">326.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">前三和值尾数</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="5" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="5" class="ng-binding ng-scope">前三特殊</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">豹子</td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">顺子</td>
                  <td class="ng-binding">32.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">对子</td>
                  <td class="ng-binding">7.17</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">半顺</td>
                  <td class="ng-binding">5.41</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">杂六</td>
                  <td class="ng-binding">3.78</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">后二直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">后二组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">97.80</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">前二直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">前二组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">97.80</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">定位胆</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">19.56</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">三星一码不定位</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">7.22</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">三星二码不定位</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">36.22</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">四星一码不定位</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">5.69</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">四星二码不定位</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">20.08</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">五星二码不定位</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">13.33</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">五星三码不定位</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">44.97</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">二星大小单双</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">7.82</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">三星大小单双</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">15.65</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">任二直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">195.60</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">任二组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">97.80</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">任三直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">1,956.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="2" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="2" class="ng-binding ng-scope">任三组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">组三</td>
                  <td class="ng-binding">652.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组六</td>
                  <td class="ng-binding">326.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="1" class="ng-binding ng-scope">任四直选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding"></td>
                  <td class="ng-binding">19,560.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata -->
              <tbody ng-repeat="m in acdata" class="ng-scope">
                <!-- ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="4" class="ng-scope">
                    <a class="ng-binding">时时彩</a></td>
                  <!-- end ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td ng-if="$index==0" rowspan="4" class="ng-binding ng-scope">任四组选</td>
                  <!-- end ngIf: $index==0 -->
                  <td class="ng-binding">组选24</td>
                  <td class="ng-binding">815.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选12</td>
                  <td class="ng-binding">1,630.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选6</td>
                  <td class="ng-binding">3,260.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss -->
                <tr ng-repeat="n in m.bonuss" class="ng-scope">
                  <!-- ngIf: $index==0 -->
                  <!-- ngIf: $index==0 -->
                  <td class="ng-binding">组选4</td>
                  <td class="ng-binding">4,890.00</td></tr>
                <!-- end ngRepeat: n in m.bonuss --></tbody>
              <!-- end ngRepeat: m in acdata --></table>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="hidden-sm hidden-xs">Copyright © 2016-2017 创新游戏 .最佳分辨率1920 X 1080 最佳游戏环境</span>
      <span class="hidden-sm hidden-xs">
        <img src="images/llq.png" /></span>
      <span>
        <a href="">关于创新游戏</a>|
        <a href="">玩法介绍</a>|
        <a href="">帮助中心</a>|
        <a href="">规则与条款</a></span>
    </div>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>